label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
	display: block;
}

#left {
	float: left;
	width: 70%
}

#right {
	overflow: hidden
}

​
.forum-table tr td.align-top {
	vertical-align: top;
}

.forum-table tr td.align-left {
	text-align: left !important;
}

.align-center {

}

.forum-trail {
	margin: 20px 0;
}

.forum-header-wrapper {
	width: 100%;
	overflow: hidden;
	height: 40px;
}

.forum-title {
	font-size: 120%;
	font-weight: bold;
}

.forum-thread-image {
	width: 35px;
	height: 35px;
	vertical-align: middle;
	text-align: center;
}

.forum-thread-image img {
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.forum-thread-image span {
	width: 35px;
	height: 25px;
	margin-top: 4px;
}

.thread-icon {
	background-image: url(../images/sprites.png);
	height: 25px;
	width: 40px;
	margin: 0 6px 0 0;
	display: block;
}

.thread-solved {
	background-position: -200px -16px;
}

.thread-is-question {
	background-position: -74px -16px;
}

.thread-sticky {
	background-position: -7px -16px
}

.thread-open {
	background-position: -7px -16px
}

.thread-closed {
	background-position: -7px -16px
}

.forum-category {
	background-position: -517px -80px;
}

.forum-odd {
	background-color: #F7F7F7;
}

.center {
	text-align: center;
}

.forum-small {
	font-size: 80%;
}

.bigger {
	font-size: 105%;
}

.post_subject {
}

.bold {
	font-weight: bold;
}

.align-top {
	vertical-align: top;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.avatar-22 {
	vertical-align: middle;
}

.forum-table {
	width: 100%;
}

#forum-wrapper {
	background-color: #ffffff;

}

#forum-wrapper .forum-table {
	border: none;
}

.forum-post-wrapper {
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
	border: 1px solid #E0E0E0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: url(../images/postbg.png) repeat-y;
	background-color: white;
	background-position: -51px 0;
}

.forum-post-top {
	background-color: #eee;
	border-bottom: 1px solid #E0E0E0;
	padding: 5px 10px;
}

.forum-left {
	width: 130px;
	min-height: 100px;
	float: left;
	padding: 10px;
}

.forum-right {
	margin-left: 150px;
	min-height: 150px;
}

.post-date {
	border-bottom: 1px solid #E0E0E0;
	display: block;
	margin-top: 5px;
}

.forum-figure {
	width: 65px;
	margin: 0;
	margin-left: 0px;
	margin-top: 0px;
	text-align: center;
}

.forum-post-text,
.forum-post-meta {
	padding: 5px 20px;
}

.forum-post-text {
	min-height: 80px;
}

.forum-post-signature {
	padding: 5px 10px;
}

.forum-post-meta {
	_color: #a4a4a4;
}

.forum-post-signature {
	font-style: italic;
	font-size: 90%;
	margin-left: 10px;
	margin-right: 10px;
}

.border-top {
	border-top: 1px solid #E0E0E0;
}

.forum-post-first {
	background-color: #F7F7F7;
}

.forum-solved-prefix {
	color: green;
}

.forum-closed-prefix {
	color: red;
}

.forum-sticky-prefix {
}

.forum-post-links{
	padding-right: 20px;
	text-align: right;
}
.forum-post-links a{
margin-right: 10px;
}

.post-id-meta {
	float: right;
	font-weight: normal;
}

div.bbcode_quote {
	border: 1px solid #68C;
	margin: 0.5em 0;
}

div.bbcode_quote_head {
	background-color: #68C;
	color: #FFF;
	font-weight: bold;
	padding: 0.25em 0.5em;
}

div.bbcode_quote_body {
	background-color: #F0F8FF;
	color: #000;
	padding: 0.5em 1em;
}

div.bbcode_quote_head a:link {
	color: #FF7;
}

div.bbcode_quote_head a:visited {
	color: #FF7;
}

div.bbcode_quote_head a:hover {
	color: #FFF;
	text-decoration: underline;
}

div.bbcode_quote_head a:active {
	color: #FFF;
	text-decoration: underline;
}

.forum-solved-post {
	border: 4px solid green;
}

.thread-starter-reply {
	background-color: #F7F7F7;
}

.solved-text {
	background-color: #ffffff;
	border: 1px solid green;
	padding: 8px;
	margin: 10px
}

.solved-title {
	color: green;
	font-style: italic;

}

table.forum-table {
	color: #666;
	background: #eaebec;
	margin-bottom: 20px;
	border: #ccc 1px solid;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table.forum-table th {
	padding: 10px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table.forum-table th:first-child {
	text-align: left;
	/*padding-left:20px;*/
}

table.forum-table tr:first-child th:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

table.forum-table tr:first-child th:last-child {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

table.forum-table tr {
	text-align: center;
	padding-left: 20px;
}

table.forum-table td:first-child {
	text-align: left;
	/*padding-left: 20px;*/
	border-left: 0;
	border-right: 0;
}

table.forum-table td:last-child,
table.forum-table th:last-child{
	text-align: left;
}

table.forum-table td {
	padding: 5px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table.forum-table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table.forum-table tr:last-child td {
	border-bottom: 0;
}

table.forum-table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

table.forum-table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

table.forum-table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}


#forum-wrapper .forumdescription,
#forum-wrapper .threaddescription{
	margin-left: 33px;
}

#forum-wrapper h2.forumtitle,
#forum-wrapper h2.posttitle,
#forum-wrapper h2.threadtitle{
	font-size: 18px;
}

#forum-wrapper h2.postpage_title img{
	vertical-align: top;
}
#forum-wrapper h2.forumtitle img,
#forum-wrapper h2.threadtitle img,
#forum-wrapper h2.posttitle img{
	margin-top: -5px;
	vertical-align: middle;
	margin-right: 5px;
}


#forum-wrapper h2.forumtitle,
#forum-wrapper h2.threadtitle,
#forum-wrapper h2.posttitle{
	margin: 0;
	padding: 0;
	font-weight: normal;
}